.Checkout{
    display: flex !important; 
    padding: 20px;
    background-color: purple;
    height: max-content;
    
}
.CheckoutTitle{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    background-color: white;
}